.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  background: #1f1f1f;
  color: white;
  border-bottom: 1px solid #333;
}

.logo {
  margin: 0;
  font-weight: bold;
  color: white;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: #aaa;
  font-weight: 500;
  position: relative;
  transition: 0.3s;
}

/* Hover effect */
.nav-links a:hover {
  color: #fff;
}

/* ACTIVE LINK */
.nav-links a.active {
  color: #fff;
}

/* Underline animation */
.nav-links a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -4px;
  background: white;
  transition: 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}

.nav-links a.active::after {
  width: 100%;
}
